.container {
  width: 80%;
  margin: 25px auto;
}

table {
  width: 800px;
  margin-top: 50px;
  border-collapse: collapse;
  font-size: 18px;
}

td,
th {
  padding: 16px 24px;
  text-align: left;
}

th {
  background-color: #087f5b;
  color: #fff;
  width: 25%;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}